
<%
    info = JSON.parse(@audio_file.info)
%>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>
      <%= @audio_file.url %>
    </p>
    <pre><%= info.to_yaml %></pre>
  </div>
</div>
