<form role="form" method="POST" action="<%= audio_files_path %>">
  <div class="form-group">
    <label for="mp3url">MP3 url</label>
    <input type="url" class="form-control" name="mp3url" id="mp3url" placeholder="http://...">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>