<input type="hidden" name="processing_audio_id" value="<%= @audio_file.id %>">

<div class="progress-backdrop"></div>

<div class="screen-center"> <!--id="spinner"-->
    <i class="fa fa-refresh fa-spin fa-2x"></i>
</div>